//
// Variables
// --------------------------------------------------


// Brand colors
// -------------------------

$brand-primary: #82c345;
$team-winner:   #9BDB5F;
$pick-winner:   #BFF190;


// Layout
// -------------------------

$padding: 7px;


// Cards
// -------------------------

$card-border-color:   $gray;
$card-cap-bg:         #cecece;
